body {
    color: #333333;
    font-family: Arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

a {
    color: #888888;
    text-decoration: none;
}

input,
button {
    padding: 8px;
}

button {
    cursor: pointer;
    border: none;
    background-color: #3377b7;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 47px;
}

.portrait {
    width: 200px;
}

footer {
    color: #888888;
    border-top: 1px solid #ccc;
    margin-top: 16px;
    padding: 16px 0;
    background-color: #f8f8f8;
}

/* Media Queries */

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .portrait {
        width: 150px;
    }

    input,
    button {
        padding: 6px;
    }
}

@media (max-width: 350px) {
    body {
        padding: 0 10px;
    }

    h1 {
        font-size: 33px;
        margin-bottom: 10px;
    }

    header {
        margin-bottom: 30px;
    }

    .portrait {
        width: 100px;
    }

    input,
    button {
        padding: 4px;
    }

    input[type="text"] {
        width: 70%;
    }
}